---
// src/pages/simulador.astro
import "../styles/global.css";
---

<html lang="es">
    <head>
        <title>Simulador de Gestión de Procesos y Memoria</title>
    </head> 
    <body> 
        <h1>Simulador de Gestión de Procesos y Memoria</h1> 
        <div id="memoria-viz"></div>
        <script type="module" src="src/scripts/memoriasimulador.js"></script>
    </body>